@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/reey');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes slider-1 {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}


body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    width: 100%;
}
section{
    background-image: url(../img_cv/degrade.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.text-wrapper {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: #e9e6e6 -webkit-gradient(linear, left top, right top, from(#262626), 
    to(#262626), color-stop(9, #fff)) 0 0 no-repeat;
    -webkit-background-size: 600px;
    background-size: 600px;
    color: rgb(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 1s infinite;
}

@keyframes animate {

    0%,
    10% {
        background-position: -1000px;
    }

    20% {
        background-position: top left;
    }
    90% {
        background-position: top right;
    }
    100% {
        background-position: 1000px;
    }
}
header p{
    font-size: 2rem;
}

button {
    position: absolute;
    left: 15%;
    top: 30%;
    z-index: 2;
    background-color: rgb(64, 161, 205);
    border-radius: 30px;
    font-size: 1rem;
    padding: 10px;
    margin-left: 40%;

}
.box{
    position: relative;
    display: flex;
    border-radius: 20px;
}
.box::before{
    content: '';
    position: absolute;
    background-color: #e9e6e6;
}
i{
    text-align: left;
    font-size: 40px;
}

h1 {
    font-family: 'Montserrat', serif;
    margin-top: 15px;
    font-size: 1.7rem;
    color: black;
    position: absolute;
    bottom: 65%;
    right: 5%;
    text-align: right;
}

h2 {
    font-size: 1.8rem;
    font-family: 'Neuton', serif;
    margin: 20px;
    position: absolute;
    color: black;
}

.donnees {
    justify-content: center;
    margin: 20px 0;
}

.donnees div {
    position: relative;
}

.donnees p {
    position: absolute;
    font-size: 1.6rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home {
    width: 40%;
    height: 30%;
    margin: 10px 0;

}

span {
    display: block;
    font-size: 1.9rem;
    font-family: 'Neuton', serif;
    color: white;
    margin: 50px 0 15px 0;
    background-color: rgba(165, 42, 42, 0.834);
    padding: 5px 10px;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
    padding: 0 10px;
}

header img {
    width: 100%;
    height: 30vh;
}

header {

    position: relative;
    z-index: 1;
}

.user {
    width: 26%;
    height: 14vh;
    position: absolute;
    top: 20%;
    z-index: 1;
    right: 67%;
    border-radius: 59%;
    filter: drop-shadow(2px 4px 32px grey);
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.pitch {
    margin: 40px 10px 10px 10px;
    font-size: 1.2rem;
    text-align: center;

}

.loisirs>img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 150px;
    border-radius: 40px;

}

nav {
    background-color: rgb(64, 161, 205);
    font-size: 50px;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    flex-direction: row;
}

ol {
    width: 100%;
}

li {
    float: left;
    border-width: solid 5px black;
    text-align: center;
    width: calc(100%/4);
    padding: 5px 0;
}

a {
    font-size: 2rem;
    color: black;
}

.section2 {

    margin-top: 20px;
}

.ios {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.ios img{
    width: 40%;
    height: 20vh;
}

.slider-1 {
    overflow: hidden;
    flex-shrink: 0;
}

.slider-1 .slider {
    display: flex;
    animation: slider-1 8s infinite ease-out;
}

.slider-1 img {
    width: 100%;
}

#point {
    width: 30%;
    margin: 40px 0;
}

.flag {
    display: block;
    width: 50%;
    height: 30%;
    margin: auto;
}

.section2 p {
    font-size: 1rem;
}

.skill1 {
    width: 20%;
    height: 10vh;
    padding: 10px;
}

.skill2 {
    padding: 10px;
    width: 25%;
    height: 10vh;
}
.section3 p{
    font-size: 0.5rem;
}
.section3 div{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0;
}
.section3 div>div{
    width: 75%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.firm{
    width: 65%;
    height: 10vh;
    margin: 10px 0;
}
.firm2{
    width: 45%;

}
.time{
    width: 25%;
    height: 10vh;
    padding: 10px;
}

.section4 div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.section4 header>img{
    width: 100%;
    padding: 0;
}

.section4 img {
    width: 30%;
    padding: 20px;
}



/* Media tablette */
@media screen and (min-width:768px) and (max-width: 1023px) {}

/* Media PC */
@media screen and (min-width:1024px) {}