@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/reey');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes slider-1 {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}


body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    width: 100%;
}
section{
    background-image: url(../img_cv/degrade.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header p{
    font-size: 2rem;
    font-weight: 900;
}
.mike{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: white;
}
.avatar{
    width: 20%;
    float: left;
    padding: 0 15px;
}
.download{
    text-align: center;
    margin: 0;
}
.download img{
    width: 80%;
}
.download p{
    font-size: 1rem;
}

i{
    text-align: left;
    font-size: 40px;
}

h1 {
    font-family: 'Montserrat', serif;
    margin-top: 15px;
    font-size: 1.7rem;
    font-weight: 800;
    color: black;
    position: absolute;
    bottom: 65%;
    right: 5%;
    text-align: right;
}

h2 {
    font-size: 1.8rem;
    font-family: 'Neuton', serif;
    margin: 20px;
    position: absolute;
    color: black;
}

.donnees {
    justify-content: center;
    margin: 20px 0;
}

.donnees div {
    position: relative;
    text-align: center;
}

.donnees p {
    position: absolute;
    font-size: 1.6rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home {
    width: 40%;
    height: 30%;
    margin: 10px 0;
    filter: drop-shadow(2px 9px 14px black);

}

span {
    display: block;
    font-size: 1.9rem;
    font-family: 'Neuton', serif;
    color: white;
    margin: 50px 0 15px 0;
    padding: 5px 10px;
    background-color: rgb(64, 161, 205);

}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
    padding: 0 10px;
}

header img {
    width: 100%;
    height: 30vh;
}

header {

    position: relative;
    z-index: 1;
}

.user {
    width: 30%;
    height: 21vh;
    position: absolute;
    top: 17%;
    z-index: 1;
    right: 56%;
    border-radius: 30px;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.pitch {
    margin: 40px 10px 10px 10px;
    font-size: 1.2rem;
    text-align: center;

}

.loisirs>img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 150px;
    border-radius: 40px;

}

nav {
    background-color: rgb(64, 161, 205);
    font-size: 50px;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    flex-direction: row;
}

ol {
    width: 100%;
}

li {
    float: left;
    border-width: solid 5px black;
    text-align: center;
    width: calc(100%/4);
    padding: 5px 0;
}

a {
    font-size: 2rem;
    color: black;
}

.section2 {

    margin-top: 20px;
}

.ios {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}

.ios img{
    width: 40%;
    height: 25vh;
    filter: drop-shadow(20px 24px 10px grey);
    padding: 10px 0;

}

.slider-1 {
    overflow: hidden;
    flex-shrink: 0;
}

.slider-1 .slider {
    display: flex;
    animation: slider-1 8s infinite ease-out;
}

.slider-1 img {
    width: 100%;
}

#point {
    width: 20%;
    margin: 20px 0;
}

.flag {
    display: inline-block;
    width: 50%;
    height: 30%;
    margin: 0;
    padding: 10px 0;
}
section p{
    font-weight: bolder;
}

.section2 p {
    font-size: 1.2rem;
}

.skill1 {
    width: 30%;
    height: 20vh;
    padding: 10px;
    filter: drop-shadow(20px 24px 10px grey);

}

.skill2 {
    padding: 10px;
    width: 30%;
    height: 20vh;
    filter: drop-shadow(20px 24px 10px grey);

}
.section3 p{
    font-size: 1rem;
}
.section3 div{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0;
}
.section3 div>div{
    margin: 5px 5px;
    width: 75%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.firm{
    width: 65%;
    height: 10vh;
    margin: 10px 0;
}
.firm2{
    width: 45%;

}
.firm3{
    width: 90%;
    height: 20vh;
}
.time{
    width: 58%;
    height: 18vh;
    filter: drop-shadow(20px 9px 14px grey);  
}
.divtime{
    position: relative;
    width: 30%;
}
.divtime p{
    color: white;
    position: absolute;
    z-index: 2;
    font-size: 1.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.section4{
    padding-bottom: 30%;
}

.section4 div{
    padding-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.section4 header>img{
    width: 100%;
    padding: 0;
}

.section4 div img {
    width: 30%;
    padding: 20px;
    filter: drop-shadow(20px 24px 10px grey);
}



/* Media tablette */
@media screen and (min-width:768px) and (max-width: 1023px) {}

/* Media PC */
@media screen and (min-width:1024px) {
    nav{
        bottom: 0;
    }
    header img {
        width: 100%;
        height: 60vh;
        padding: 0;
    }
    .section1 img{
        width: 10%;
    }
    .slider img{
        width: 100%;
    }
    .skill1,.skill2{
        width: 16%;
        height: 30vh;
        filter: drop-shadow(2px 9px 14px black);
        padding: 30px 70px;
    }
    .ios img{
        width: 16%;
        height: 30vh;
        padding: 30px 70px;
        filter: drop-shadow(2px 9px 14px black);

    }
    .section2 header img{
        width: 100%;
    }
    .section2 p{
        font-size: 1.5rem;
        line-height: 45px;
    }
    
    .donnees{
        display: flex;
    }
    .donnees div{
        width: calc(100%/3);
    }
    .donnees img{
        width: 60%;
        height: 35vh;
    }
    i{
        font-size: 80px;
    }
    .user{
        display: none;
    }
    span{
        font-size: 2rem;
    }
    .flag {
        width: 30%;
        height: 30%;
        padding: 10px 0;
        filter: drop-shadow(2px 9px 14px black);

    }
    .time{
        display: none;
    }
    .firm{
        width: 50%;
        height: 30vh;
    }
    .firm2{
        width: 35%;
        height: 35vh;
    }
    .firm3{
        width: 66%;
        height: 35vh;
    }
    h1 {
        font-size: 3rem;
    }
    .section4 div{
        flex-direction: row;
    }
    .section4 a{
        width: calc(100%/3);
    }
    .section4 img {
        width: 45%;
}